@use 'commons' as c;

body {
    background-image: url(../img/textura.jpg);
    font-family: 'Montserrat', sans-serif;
    background-position: center;
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;      
}

header {
    padding-bottom: c.$padding-100;

   
}

.logo img {
    width: 200px;
    margin-left: 20px;
}
nav {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    z-index: 1;

}

.bar-btn {
    font-size: 25px;
    color: map-get(c.$colores, 'textoclaro');
    margin-right: 20px;
    cursor: pointer;
    text-align: right;
    margin-top: 0;

    img {
        width: 50px;
    }
}


.nav-menu {
    position: fixed;
    width: 100%;
    height: 0vh;
    top: 100px;
    background: rgba(0, 0, 0, .95);
    text-align: center;
    transition: all .5s;

    li {
        display: none;
        line-height: 30px;
        margin: 50px 0;
        transition: all .5s;
        a {
            color: map-get(c.$colores, 'textoclaro');
            font-size: 16px;
            text-transform: uppercase;
            font-weight: 600;
            text-decoration: none;
        }

        a.active,
        a:hover {
            color: map-get(c.$colores, 'hover');
            transition: .3s;
        }

    }
}

#check {
    display: none;
}

#check:checked~.nav-menu {
    height: 100vh;
    position: absolute;
}


#check:checked~.nav-menu li {
    display: block;
}

.videocontainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 2;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;

    .video{
        margin: auto;
        margin-bottom: 50px;
    }
    
    
    .titulo_in {
        background-color: map-get(c.$colores, 'fondo-menu');
        width: 100%;
        margin-top: 20px;
    }



}

.car-ind {
    position: absolute;
    margin-top: 150px;
    z-index: -1;
    margin-bottom: 0;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1280px) {

    .bar-btn {
        display: none;
    }

    .nav-menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        background: map-get(c.$colores, 'fondo-menu');
        padding: 0;
        position: absolute;
    }

    .nav-menu li {
        line-height: 0;
        margin: 10;
        display: block;
    }

    .logo img {
        width: 400px;
        
    }

    .logo {
        display: flex;
        justify-content: center;
        align-items: flex-start;
       
    }

    nav {
        display: flex;
        justify-content: center;
        padding-left: 0;
    }

    .texto {
        padding: 0;
        margin-top: 100px;
    }


    .car-ind {
        margin-top: 650;
        width: 70%;
    }

    .videocontainer {
        width: 70%;
        margin-top: 100px;
    }
    .titulo_in{
        width: 100%;
        background-color: map-get(c.$colores, 'fondo-menu'); ;
    }
}

/*aqui termina el estilo de index*/

/*estilo de historia.html*/


.texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', sans-serif;
    color: map-get(c.$colores, 'textoclaro');
    height: fit-content;
    background: rgba(0, 0, 0, 0.747);
    width: 100%;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    margin-bottom: 50px;
    margin-top: 100px;

    h1 {
        margin-bottom: 30px;
    }

    p {
        align-items: center;
        text-align: center;
    }
}

.titleh h1 {
    color: map-get(c.$colores, 'textoclaro');
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 120px;
    margin-bottom: 0;
    margin-top: 50px;
}





/*fin estilo historia.html*/

/*estilo banda.html*/





.band_container {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 3% 1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas:
        ".logo"
        "integrantes"
        ".poly"
        ".poly"
        ".poly"
        ".poly"
    ;

   
}

.imgcard {
    width: 400px;
    height: 600px;
}

.titulos {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    margin-bottom: 0px;

    h1 {
        color: map-get(c.$colores, 'textoclaro');
        font-weight: 900;
        font-family: 'Montserrat', sans-serif;
        text-align: center;
        margin: auto;
    }
}



.poly {
    text-align: center;
    margin-top: 4em;
    width: 406px;
    height: 680px;
    background-color: map-get(c.$colores, 'fondo-menu');
    color: map-get(c.$colores, 'textoclaro');
    border-radius: 10px;
    border: solid 3px;
    border-color: map-get(c.$colores, 'fondo-menu');
    font-weight: bolder;
}

.banda {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    margin-bottom: 350px;
}

@media only screen and (min-width: 1280px) {

    .banda {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        text-align: center;
        margin-top: 100px;
        height: fit-content;
        justify-content: center;
        margin-left: 110px;
        
    }

    .titulos {
        margin-top: 150px;
    }

    .poly {
        margin-right: 10px;
    }

    
.band_container {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-columns:  1fr 1fr 1fr 1fr;
    justify-items: center;
    grid-template-areas:
        ".tiband .tiband .tiband .tiband"
        ".poly .poly .poly .poly "
        
    ;

  
   
}
    
.tiband{
    padding-top: 50px;
}

}

/*ESTILO DISCOGRAFIA*/

.container_disk {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 200px;
    ;
}


.album {
    
    width: 406px;
    height: 600px;
    background-color: map-get(c.$colores, 'fondo-menu');
    border-radius: 10px;
    border: solid 3px;
    border-color: map-get(c.$colores, 'fondo-menu');
    color: map-get(c.$colores, 'textoclaro');
    margin-top: 50px;

    p {
        font-family: sans-serif;
        margin-left: 30px;
        text-align: left;
    }
}

.caratula {
    width: 400px;
    height: 400px;
    border-radius: 10px 10px 0 0
}



h3 {
    color: map-get(c.$colores, 'textoclaro');
    font-family: sans-serif;
    font-size: 25px;
    margin-left: 30px;
    
}


.music {
    display: inline-block;
}

.play {
    width: 40px;
    height: 40px;
    margin-left: 180px;
    float: right;
}

.title h1 {
    color: map-get(c.$colores, 'textoclaro');
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: auto;
    padding-top: 150px;
    margin-bottom: 0;
}



.titlef h1 {
    color: map-get(c.$colores, 'textoclaro');
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 250px;
    margin-bottom: 30px;
}



@media only screen and (min-width: 1280px) {

    .container_disk {
        display: block;
        margin-top: 200px;
    }

    .discos{
        margin-top: 100px;

    }
    .album {
        margin-left: 50px;
        display: inline-block;
    }
}

.containerf {
    padding-bottom: 100px;
    color: map-get(c.$colores, 'textoclaro');
}